*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
	opacity: 1;

}
.content{
	position: relative;
}
.content h2
{
	position: absolute;
	
	transform: translate(-50%,-50%);
	font-size: 8rem;
	

}
.content h2:nth-child(1)
{
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
	


}


@keyframes animate{
	0%,100%
	{
		
		clip-path: polygon(0 41%, 13% 35%, 30% 34%, 46% 39%, 69% 50%, 84% 53%, 94% 50%, 100% 51%, 100% 99%, 1% 100%);
	}
	50%
	{
		clip-path: polygon(0 51%, 23% 53%, 44% 48%, 58% 47%, 69% 31%, 80% 25%, 91% 27%, 100% 39%, 100% 99%, 1% 100%);
	}

}